/*TODO make the styling all pixelly and stuff*/
.button {	
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
}
#backBtn {
	-fx-background-color: linear-gradient(#c94122, #613228);
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#backBtn:hover {
	-fx-background-color: linear-gradient(#613228, #c94122);
}
#checklbl {
	-fx-font-family: "Arial Narrow";
	-fx-font-weight: bold;
	-fx-fill: FIREBRICK;
	-fx-font-size:20px;
}
#title {
	-fx-font-family: "Papyrus";
	-fx-font-weight: bold;
	-fx-font-size: 30px;
}
#timer {
	-fx-font-family: "Papyrus";
	-fx-font-weight: bold;
	-fx-font-size: 20px;
}
#message {
	-fx-font-family: "Papyrus";
	-fx-font-size: 15px;
}
#smalltitle {
	-fx-font-family: "Papyrus";
	-fx-font-weight: bold;
	-fx-font-size: 15px;
}
#error {
	-fx-font-family: "Gabriola";
	-fx-font-weight: bold;
	-fx-font-size: 25px;
	-fx-fill: FIREBRICK;
}