


.button {	
    -fx-text-fill: white;
    -fx-font-family: "Tiny5";
	-fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#ffba0c, #b16200);
	-fx-image-rendering: pixelated;
	-fx-border-color: rgb(98, 51, 9) ;
    -fx-border-width: 5 ; 
    -fx-border-style: segments(5, 2, 5, 2) ;
}
.button:hover {
	-fx-background-color: linear-gradient(#b18208, #633701);
}
#backBtn {
	-fx-background-color: linear-gradient(#c94122, #613228);
	-fx-border-color: rgb(98, 51, 9) ;
    -fx-border-width: 5 ; 
    -fx-border-style: segments(5, 2, 5, 2) ;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
  -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
#backBtn:hover {
	-fx-background-color: linear-gradient(#613228, #c94122);
}
#checklbl {
	-fx-font-family: "Tiny5";
	-fx-font-weight: bold;
	-fx-fill: FIREBRICK;
	-fx-border-color: rgb(98, 51, 9) ;
    -fx-border-width: 5 ; 
    -fx-border-style: segments(5, 2, 5, 2) ;
	-fx-font-size:40px;
}
#title {
	-fx-font-family: "Tiny5";
	-fx-font-weight: bold;
	-fx-font-size: 70px;
}
#timer {
	-fx-font-family: "Tiny5";
	-fx-font-weight: bold;
	-fx-font-size: 24px;
}
#message {
	-fx-font-family: "Tiny5";
	-fx-font-size: 18px;
}
#smalltitle {
	-fx-font-family: "Tiny5";
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}
#error {
	-fx-font-family: "Tiny5";
	-fx-font-weight: bold;
	-fx-font-size: 24px;
	-fx-fill: FIREBRICK;
}

 #pane {
	/*Can change this to image if want*/
	-fx-background-color: #f9d16c;
}


#instructions{
	-fx-font-family: "Tiny5";
	-fx-font-size: 30px;
}

#instructions2{
	-fx-font-family: "Tiny5";
	-fx-font-size: 30px;
}